<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link th:href="@{/css/bootstrap.min.css}"
				href="../css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" style="max-width: 600px">
			<div class="py-5 text-center">
		 		<h2>공지사항</h2>
		 	</div>
		 	<div class="row">
			 	<div class="col">
			 		<a href="/home" class="btn btn-primary float-front">HOME</a>
			 		<a href="/board/save" class="btn btn-primary float-end">글쓰기</a>
			 	</div>
		 	</div>
		 	<hr class="my-4">
		 	<div>
			 	<table class="table">
		 			<thead>
			 			<tr>
			 				<th>글번호</th>
			 				<th>제목</th>
			 				<th>작성자</th>
			 				<th>등록일</th>
			 				<th>조회수</th>
			 			</tr>
		 			</thead>
		 			<tbody>
						<tr th:each="board: ${boardList}">
							<td th:text="${board.id}"></td>		
							<td><a th:text="${board.title}" th:href="@{|/board/detail/${board.id}|}"></a></td>				
							<td th:text="${board.regName}"></td>
							<td th:text="${board.regDate}"></td>
							<td th:text="${board.hits}"></td>		
						</tr>
		 			</tbody>
		 		</table>
			</div>
		</div> <!-- /container -->
	</body>
</html>