<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link th:href="@{/css/bootstrap.min.css}"
				href="../css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" style="max-width: 800px">
			<div class="py-5 text-center">
		 		<h2>메뉴 목록</h2>
		 	</div>
		 	<div class="row">
		 		<div class="col">
		 			<a href="/home" class="btn btn-primary float-front">HOME</a>
				</div>
		 	</div>
		 	<hr class="my-4">
		 	<div>
			 	<table class="table">
		 			<thead>
			 			<tr>
			 				<th>자신ID</th>
			 				<th>부모ID</th>
			 				<th>메뉴 코드</th>
			 				<th>메뉴 이름</th>
			 				<th>URL</th>
			 				<th>메뉴 정렬</th>
			 				<th>메뉴 레벨</th>
			 				<th>메뉴 그룹</th>
			 			</tr>
		 			</thead>
		 			<tbody>
		 			<tr th:each="menu: ${menuList}">
		 			</tr>
		 			<!-- 
						<tr th:each="menu: ${menuList}">
							<td th:text="${menu.id}"></td>				
							<td th:text="${menu.parent_id}"></td>				
							<td>					
								<a th:text="${menu.name}" th:href="@{|/${menu.id}|}"></a>
							</td>				
							<td th:text="${menu.code}"></td>
							<td th:text="${menu.menu_url}"></td>
							<td th:text="${menu.list_order}"></td>		
							<td th:text="${menu.level}"></td>
							<td th:text="${menu.path}"></td>
						</tr>
						 -->
		 			</tbody>
		 		</table>
			</div>
		</div> <!-- /container -->
	</body>
</html>