<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link th:href="@{/css/bootstrap.min.css}"
				href="../css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" style="max-width: 1200px">
			<div class="py-5 text-center">
		 		<h2>메뉴 목록</h2>
		 	</div>
		 	<div class="row">
		 		<div class="col">
		 			<a href="/home" class="btn btn-primary float-front">HOME</a>
				</div>
		 	</div>
		 	<hr class="my-4">
		 	<div>

			</div>
		</div> <!-- /container -->
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<!-- <script type="text/javascript" src="/static/js/menu/list.js"></script> -->
		<script th:src="@{/js/menu/list.js}"></script>
	</body>
</html>