<?xml version="1.0" encoding="UTF-8"?>
<!--로컬DB <!DOCTYPE mapper SYSTEM "path/to/mybatis-3-mapper.dtd"> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<!--id는 BoardRepository.java의 "Board.save"의 .save 태그를 의미한다(호출)   -->
	<!--parameterType에 전체 경로(parameterType=fruit.orange.dto.BoardDTO)를 써야한다	
	-->
	<insert id="save" parameterType="board">
		INSERT INTO BOARD_TBL(
							  title
							 ,regName
							 ,regPw
							 ,contents
							 )
						VALUES(
							   #{title}
							  ,#{regName}
							  ,#{regPw}
							  ,#{contents}
							  )
	</insert>
	<select id="findAll" resultType="board">
		SELECT id
		      ,title
		      ,regName
		      ,regPw
		      ,contents
		      ,hits
		      ,to_char(regDate, 'YYYY-MM-DD HH24:MI:SS') as regDate
		  FROM BOARD_TBL
	  ORDER BY regDate, hits DESC
	</select>
	<update id="updateHits" parameterType="Long">
 		UPDATE BOARD_TBL 
		   SET hits = CASE WHEN hits IS NOT NULL THEN hits+1
		   							   			 ELSE 0+1 
					  END
		 WHERE id = #{id}
	</update>
	<select id="findById" parameterType="Long" resultType="board">
		SELECT id
		      ,title
		      ,regName
		      ,regPw
		      ,contents
		      ,hits
		      ,to_char(regDate, 'YYYY-MM-DD HH24:MI:SS') as regDate
		  FROM BOARD_TBL
		 WHERE id = #{id}		
	</select>
	<update id="update">
		UPDATE BOARD_TBL
		   SET title = #{title}
		      ,contents = #{contents}
		      ,regDate = now()
		 WHERE id = #{id}		      
	</update>
	<delete id="delete" parameterType="Long">
		DELETE FROM BOARD_TBL WHERE id=#{id}
	</delete>
	<!--
	<delete id="alter" parameterType="Long">
		ALTER SEQUENCE BOARD_TBL_ID_SEQ RESTART WITH #{id}
	</delete>
	-->
</mapper>	