<?xml version="1.0" encoding="UTF-8"?>
<!--로컬DB <!DOCTYPE mapper SYSTEM "path/to/mybatis-3-mapper.dtd"> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<!--id는 BoardRepository.java의 "Board.save"의 .save 태그를 의미한다(호출)   -->
	<!--parameterType에 전체 경로(parameterType=fruit.orange.dto.BoardDTO)를 써야한다	
	-->
	<insert id="save" parameterType="board">
		INSERT INTO BOARD_TBL(
							  title
							 ,regName
							 ,regPw
							 ,contents		
							 )
						VALUES(
							   #{title}
							  ,#{regName}
							  ,#{regPw}
							  ,#{contents}
							  )
	</insert>
</mapper>	