<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>orange</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="/static/css/board.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
    <div id="header">
        <h1>ORANGE</h1>
        <ul>
            <li><a href="#">로그인</a><li>
            <li><a href="#">회원가입</a>	<li>
            <li><a href="#">회원정보수정</a><li>
            <li><a href="#">로그아웃</a><li>
            <li>홍길동님 안녕하세요 ^^;</li>
        </ul>
    </div>
    <div id="content">
        <div id="board">
            <form id="search_form" action="#" method="get">
                <input type="text" id="keyword" name="keyword" value="검색어를 입력해주세요.">
                <input type="hidden" id="showBoardNum" name="showBoardNum" value="${showBoardNum}">
                <input type="submit" value="찾기">
            </form>
            <table class="tbl-ex">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>조회수</th>
                    <th>작성일</th>
                    <th>&nbsp;</th>
                </tr>
                    <tr th:each="board : ${boardList}">
                        <td th:text="${board.no}"></td>
                        <td style="text-align:left; padding-left: 20px">
                            <a th:text="${board.title}" href="#" ></a>
                        </td>
                        <td th:text="${board.userName}"></td>
                        <td th:text="${board.hit}"></td>
                        <td th:text="${board.regDate}"></td>
                        <td><a href="#" class="del">삭제</a></td>
                    </tr>

            </table>

            <div class="pager">
                <ul>
                        <li><a href="#">◀</a></li>
                                <li class="selected">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                        <li><a href="#">▶</a></li>
                </ul>
            </div>
            <!-- pager 추가 -->

            <div class="bottom">
                <a href="#" id="new-book">글쓰기</a>
            </div>
        </div>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="#">hgd</a></li>
            <li><a href="#">방명록</a></li>
            <li><a href="#">게시판</a></li>
        </ul>
    </div>
    <div id="footer">
        <p>(c)opyright 2024</p>
    </div>
</div>
</body>
</html>